; -*- mode: Emacs-Lisp; -*-

;; Added by Package.el.  This must come before configurations of
;; installed packages.  Don't delete this line.  If you don't want it,
;; just comment it out by adding a semicolon to the start of the line.
;; You may delete these explanatory comments.
(package-initialize)

(defvar local-dir "{{ local_dir }}")
(setq load-path (append (list "." local-dir) load-path ))
(load "{{ local_file }}")

;; warning, retrofitted dynamic part, should use lineinfile or augea for .emacs itself
(custom-set-variables
 ;; custom-set-variables was added by Custom.
 ;; If you edit it by hand, you could mess it up, so be careful.
 ;; Your init file should contain only one such instance.
 ;; If there is more than one, they won't work right.
 '(package-selected-packages (quote (yaml-mode markdown-mode)))
 '(safe-local-variable-values
   (quote
    ((dired-omit-files . "\\.gitconfig|\\.gitremote$")
     (dired-omit-files . "\\.log$\\|\\.aux$\\|\\.tns$")
     (dired-omit-files . "/")
     (mmm-classes . embedded-rst)
     (dired-omit-files . "\\.yml$")
     (dired-omit-files . "^[[:digit:]]\\{3\\}\\|^upgrades.yml$")
     (dired-omit-files . "^try.*")
     (eval add-custom-keyw)
     (dired-omit-files . "yaml\\.rst$\\|yaml\\.rst\\..*$\\|mail\\.yaml$\\|notes.yaml$")
     (dired-omit-files . "yaml\\.rst$\\|\\.html$")
     (dired-omit-files . "yml\\.rst$\\|\\.html$")
     (dired-omit-files . "^[[:digit:]]\\{3\\}")
     (dired-omit-files . "yml\\.rst$\\|yml\\.rst\\..*$\\|mail\\.yml$\\|notes.yml$")
     (mmm-classes embedded-rst embedded-m4)
     (dired-omit-files . "\\.html$")))))
(custom-set-faces
 ;; custom-set-faces was added by Custom.
 ;; If you edit it by hand, you could mess it up, so be careful.
 ;; Your init file should contain only one such instance.
 ;; If there is more than one, they won't work right.
 )
(put 'narrow-to-region 'disabled nil)
